@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Titli's Website</h1>
    <p>to learn more about <a href="https://www.brainwareuniversity.ac.in/">Brainware University</a> please click here.</p>
</div>
